---
component: article
---
<article class="article {{class}}">
	<header class="article-header">
		<h2>{{title}}</h2>
	</header>
	<div class="article-details">
		{{body}}
	</div>
	<footer class="article-footer">
		<a href="{{url}}">{{urlText}}</a>
	</footer>
</article>
