---
component: article
title: Article Title
url: '#'
body: Dummy text. Sed posuere consectetur est at lobortis.
urlText: Read More
---
<article class="article {{#if class}}{{class}}{{/if}}">
	{{#if title}}
	<header class="article-header">
		<h2>
		{{#if url}}<a href="{{url}}">{{/if}}
			{{title}}
		{{#if url}}</a>{{/if}}
		</h2>
	</header>
	{{/if}}
	{{#if body}}
	<div class="article-details">
		{{{body}}}
	</div>
	{{/if}}
	{{#if urlText}}
	<footer class="article-footer">
		<a href="{{url}}">{{urlText}}</a>
	</footer>
	{{/if}}
</article>
