---
hide: true
title: File List
layout: src/layouts/_bb.hbs
---
<div class="container">
	<header role="banner">
		<a href="#" class="logo">
			<img src="{{assets}}/_bb/bb-logo.svg" alt="Building Blocks" width="83" height="50" />
		</a>
		<h1 class="project-title">
			{{package.title}} {{package.version}}
			<span class="last-modified">
				<b>Last Modified:</b> <span>@@timestamp</span>
			</span>
		</h1>
	</header>
	<div id="main" role="main">
		<ul class="file-list">
			{{#withSort pages filename}}
				{{#unless data.hide}}
					<li class="file">
						<a href="{{relative dest this.dest}}">{{filename}}</a>
					</li>
				{{/unless}}
			{{/withSort}}
		</ul>
		{{>responsive-link}}
	</div>
	<footer role="contentinfo">
		<p>&copy; Copyright Building Blocks Ltd</p>
	</footer>
</div>
