---
hide: true
title: Responsive Testing
layout: src/layouts/_bb.hbs
---
<div class="responsive">
	<div class="responsive-header">
		<p><a href="/">&larr; Back to page list</a></p>
		<div class="responsive-url">
			<select id="responsive_files">
				<option value="">Select a file to test&hellip;</option>
				{{#each pages}}
					{{#unless data.hide}}
					<option value="{{relative dest this.dest}}">{{relative dest this.dest}}</a>
					{{/unless}}
				{{/each}}
			</select>
			<div id="responsive_options" class="responsive-options">
				<label for="responsive_option_width">
					<input id="responsive_option_width" type="radio" name="option" value="1" checked="checked" />
					Width only
				</label>
				<label for="responsive_option_device">
					<input id="responsive_option_device" type="radio" name="option" value="2" />
					Device sizes
				</label>
			</div>
		</div>
	</div>
	<div id="responsive_frames" class="responsive-frames responsive-width-only">
		<div class="responsive-frames-inner">
			<div id="responsive_frame_1" class="responsive-frame">
				<h2>320<b> x 568</b> <span class="small">(iPhone 5)</span> <img class="responsive-frame-loader" src="{{assets}}/_bb/loader.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="335" height="568"></iframe>
			</div>
			<div id="responsive_frame_2" class="responsive-frame">
				<h2>480<b> x 640</b> <span class="small">(small tablet)</span> <img class="responsive-frame-loader" src="{{assets}}/_bb/loader.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="495" height="640"></iframe>
			</div>
			<div id="responsive_frame_3" class="responsive-frame">
				<h2>600<b> x 800</b> <span class="small">(small tablet)</span> <img class="responsive-frame-loader" src="{{assets}}/_bb/loader.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="615" height="800"></iframe>
			</div>
			<div id="responsive_frame_4" class="responsive-frame">
				<h2>768<b> x 1024</b> <span class="small">(iPad - Portrait)</span> <img class="responsive-frame-loader" src="{{assets}}/_bb/loader.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="783" height="1024"></iframe>
			</div>
			<div id="responsive_frame_5" class="responsive-frame">
				<h2>1024<b> x 768</b> <span class="small">(iPad - Landscape)</span> <img class="responsive-frame-loader" src="{{assets}}/_bb/loader.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="1039" height="768"></iframe>
			</div>
		</div>
	</div>
</div>

