---
component: footer
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie10 lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<title>{{title}}</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- CSS -->
		<!--[if gt IE 9]><!--><link rel="stylesheet" media="screen" href="{{assets}}/styles/main.css" /><!--<![endif]-->
		<link rel="stylesheet" media="screen" href="{{assets}}/styles/fonts.css" />

		<!-- Feature Detection -->
		<script src="{{assets}}/scripts/vendor/modernizr.js"></script>

		<!-- No 'media queries' CSS & Selectivizr (CSS3 Selectors) -->
		<!--[if lt IE 9]><link rel="stylesheet" media="screen" href="{{assets}}/styles/ie.css" /><![endif]-->

	</head>
	<body>

		<div id="page">

			<header id="header" role="banner">

				<h1 class="logo"><a href="#">{{project.client}}</a></h1>

				<nav id="navigation" role="navigation">

					<h4>Menu</h4>

					<ul class="menu-primary">
						<li class="active"><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
					</ul>

				</nav>
				<!-- end #navigation -->

				<div id="search" role="search">
					<form action="/" method="post">
						<input type="search" id="search-input" />
						<button type="submit" title="Search Website">Search</button>
					</form>
				</div>
				<!-- end #search -->

			</header>
			<!-- end #header -->

			<main id="main" role="main" class="layout-a">
