<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="robots" content="noindex, nofollow" />
		<title>{{package.title}} {{package.version}}</title>
		<!-- Icons -->
		<link rel="icon" href="{{assets}}/_bb/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{assets}}/_bb/favicon.ico" type="image/x-icon" />
		<!-- CSS -->
		<link rel="stylesheet" href="{{assets}}/_bb/style.css" />
	</head>
	<body>
		{{>body}}
		<!-- Javascript -->
		<script src="{{assets}}/_bb/jquery.js"></script>
		<script src="{{assets}}/_bb/scripts.js"></script>
	</body>
</html>
